{% load staticfiles %}

<div class="col-md-12">
    <h3>
        Data Table ( first 100 rows )
        <img id="data_table_btn" class="btn-img" src='{% static "image/info.svg" %}' style="cursor: pointer; height: 20px; size: 20px">
    </h3>
    <div class="alert alert-dismissable alert-info" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>Alert!</h4>
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
    <hr/>
    <div style="height: auto; max-height: 400px; overflow-y: auto">
        <table class="table">
            <thead>
            <tr>
                {% for column in columns %}
                <th style="text-align:center;">{{ column }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for datas in data_list %}
            <tr>
                {% for data in datas %}
                <td style="text-align:center;">{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>