{% load base_extra %}
{% load staticfiles %}
<div id="topbar">
    <div class="navbar">
        <div class="navbar-side navbar-left"></div>
        <div class="navbar-content">
            <span>
                <img src="{% static 'image/Header_Logo.png' %}" height="30px" style="margin: 10px; margin-right: ">
            </span>
            <a class="{% navactive request 'home' %}"
                href="{% url 'home' %}">Home</a>

            <a class="{% navactive request 'client' %}"
                href="{% url 'client' %}">Client</a>
        </div>
        <div class="navbar-side navbar-right"></div>
    </div>
</div>