{% load staticfiles %}
<nav class="navbar navbar-default" role="navigation" style="background: #109173;">
    <div class="container">
        <div class="navbar-header">
            <span>
                <a href="{% url 'index' %}"><img class="header_logo_image" src="{% static 'image/Header_Logo.png' %}" style="height:30px; margin-top: 15px"></a>
            </span>
        </div>
        <div class="navbar-collapse collapse">
            <div class="menu">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="{% url 'home' %}">생육조사</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>