{% load staticfiles %}
<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "js/graph.min.js" %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script>
    //button event
$(function(){
    $('.btn-img').on('click', function(){
        $(this).parent().parent().find('.alert').toggle();
    });
    $('.selectpicker').change(function () {
        selected_lo = $('#select_lo').val()+"";
        selected_sam = $('#select_sam').val()+"";
        onLoadLineChart();
    });
    onLoadLineChart();
});
//$(function() {
//    $("#lineChart").on("mousemove", function (evt) {
//        var element = $("#cursor"),
//            offsetLeft = element.offset().left,
//            domElement = element.get(0),
//            clientX = parseInt(evt.clientX - offsetLeft),
//            ctx = element.get(0).getContext('2d');
//
//        ctx.clearRect(0, 0, domElement.width, domElement.height),
//            ctx.beginPath(),
//            ctx.moveTo(clientX, 0),
//            ctx.lineTo(clientX, domElement.height),
//            ctx.strokeStyle = "#333",
//            ctx.stroke()
//    });
//}
//);
//draw line chart
function onLoadLineChart() {
    var endpoint = '/api/index/data';
    var selected_lo = $('#select_lo').val() + "";
    var selected_sam = $('#select_sam').val() + "";
    $.ajax({
        method: "GET",
        url: endpoint,
        data: {'sampleNo':selected_sam, 'location':selected_lo},
        success: function (response) {
            var dataList = [];
            dataList.push({
                label: '# 잎길이',
                data: response.leaf_len,
                // lineTension: 0,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1
            });
            dataList.push({
                label: '# 잎수',
                data: response.leaf_n,
                // lineTension: 0,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            })
            dataList.push({
                label: '# 잎너비',
                data: response.leaf_width,
                // lineTension: 0,
                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            });
            dataList.push({
                label: '# PED',
                data: response.ped,
                // lineTension: 0,
                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: 1
            });
            dataList.push({
                label: '# 경경',
                data: response.plant_len,
                // lineTension: 0,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            });
            dataList.push({
                label: '# 초장',
                data: response.stem_width,
                // lineTension: 0,
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1
            });
            var baseData = {
                labels: response.labels,
                datasets: dataList
            };
            var ctx = document.getElementById("lineChart");
            //clear chart
            if (window.line != undefined)
                window.line.destroy();
            //draw chart
            window.line = new Chart(ctx, {
                type: 'line',
                data: baseData,
                options: {
                    tooltips: {
                        mode: 'x',
                        intersect: false
                    }
                }
            });
            },
        error: function (error_data) {
            console.log("error");
            console.log(error_data);
        }
    })
}
</script>